body {
    margin: 0;
    font-family: Arial;
    background: #181818;
    color: white;
}

.contenedor {
    width: 95%;
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.agregar {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

    .agregar input {
        flex: 1;
        padding: 15px;
        border: none;
        border-radius: 10px;
        font-size: 18px;
    }

    .agregar button {
        padding: 15px 25px;
        border: none;
        border-radius: 10px;
        background: #00C853;
        color: white;
        cursor: pointer;
    }

.listaPedidos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 280px;
    background: #2A2A2A;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.numero {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.estado {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btnListo {
    background: #2196F3;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.btnEntregar {
    background: #FF5722;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

.preparando {
    border-left: 8px solid orange;
}

.listo {
    border-left: 8px solid limegreen;
}

.entregado {
    border-left: 8px solid dodgerblue;
}
